<a href="https://colab.research.google.com/github/IshaanGaba/Assignment-01-Python-Assignment/blob/main/py_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1. L is a list defined as L= [11, 12, 13, 14].
# (i) WAP to add 50 and 60 to L. 
# (ii) WAP to remove 11 and 13from L.
# (iii) WAP to sort L in ascending order.
# (iv) WAP to sort L in descending order.
# (v) WAP to search for 13 in L.
# (vi) WAP to count the number of elements present in L.
# (vii) WAP to sum all the elements in L.
# (viii) WAP to sum all ODD numbers in L.
# (ix) WAP to sum all EVEN numbers in L.
# (x) WAP to sum all PRIME numbers in L.
# (xi) WAP to clear all the elements in L.
# (xii) WAP to delete L.

In [9]:
l=[11,12,13,14]
l.append(50)
l.append(60)
l

[11, 12, 13, 14, 50, 60]

In [10]:
l.remove(11)
l.remove(13)
l

[12, 14, 50, 60]

In [12]:
l.sort
l

[12, 14, 50, 60]

In [14]:
l.sort(reverse=True)
l

[60, 50, 14, 12]

In [17]:
# 13 in l
f=0
for s in l:
  if(s==13):
    f=1
    break
if(f==1):
  print("present")
else:
  print(" not present")

 not present

In [20]:
#len(l)
s=0
for i in l:
  s=s+1
print(s)

4

In [25]:
#print(sum(l))
s=0;
for i in l:
  s+=i
print(s)

136

In [26]:
e=0
o=0
for i in l:
  if(i%2==0):
    e=e+i
  else:
    o+=i
print("sum even = ",e)
print("sum odd = ",o)

sum even =  136
sum odd =  0

In [28]:
def prime(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 0
  return 1
s=0
for i in l:
  if(prime(i)):
    s=s+i
print("prime sum",s)

prime sum 0

In [29]:
l.clear()

In [30]:
l

[]

In [37]:
del l

In [ ]:
# Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
# (i) WAP to add new entry in D; key=8 and value is 8.8
# (ii) WAP to remove key=2.
# (iii) WAP to check weather 6 key is present in D.
# (iv) WAP to count the number of elements present in D.
# (v) WAP to add all the values present D.
# (vi) WAP to update the value of 3 to 7.1.
# (vii) WAP to clear the dictionary.

In [44]:
d={1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
d

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [45]:
d[8]=8.8
d

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [46]:
del d[2]
print(d)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [49]:
#6 in d
f=0
for s in d:
  if(s==6):
    f=1
    break
if(f==1):
  print("present")
else:
  print(" not present")

 not present

In [51]:
#len(d)
s=0
for i in d:
  s+=1
print(s)

5

In [52]:
s=0
for i in d:
  s+=d[i]
print("sum is ",s)

sum is  37.4

In [53]:
d[3]=7.1
d

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [56]:
d.clear()

In [57]:
d

{}

In [ ]:
# Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
#  S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
# (i) WAP to add 55 and 66 in Set S1.
# (ii) WAP to remove 10 and 30 from Set S1.
# (iii) WAP to check whether 40 is present in S1.
# (iv) WAP to find the union between S1 and S2.
# (v) WAP to find the intersection between S1 and S2.
# (vi) WAP to find the S1 - S2.

In [59]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]

In [62]:
S1=set(S1)
S2=set(S2)
print(S1)
print(S2)

{40, 10, 50, 20, 60, 30}
{70, 40, 80, 50, 90, 60}

In [63]:
S1.add(55)
S1.add(66)
S1

{10, 20, 30, 40, 50, 55, 60, 66}

In [64]:
S1.remove(10)
S1.remove(30)
S1

{20, 40, 50, 55, 60, 66}

In [66]:
40 in S1

True

In [68]:
S1.union(S2)

{20, 40, 50, 55, 60, 66, 70, 80, 90}

In [69]:
S1.intersection(S2)

{40, 50, 60}

In [70]:
S1-S2

{20, 55, 66}

In [ ]:
# Q4. Write the following program.
# (i) WAP to print 100 random strings whose length between 6 and 8.
# (ii) WAP to print all prime numbers between 600 and 800.
# (iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [78]:
import random as r
import string as s
def gen():
  l=s.ascii_letters+s.digits
  x=r.randint(6,8)
  n=""
  for i in range(x):
    n+="".join(r.choice(l))
  return n
for i in range(1,101):
  n=gen()
  print(n)

hgigeSXr
qclbyG
WodaPd
daBzgRf
E2ssnoeD
HLwfzZ
KGNhFZ
vXqNuP3F
EXoARq
kRG7QHg
5GdbBz
xqXj0vB
YJQQWGh
VWDIfqI
wH13juWv
0sXowr
1uRwQ42e
EvjkqUqS
hvNpip
ihWGpyY
zE70SlN
lL7us0LE
U6ARdD6
DuHQju
EFas17
OFewbLb
1RyHfX
qdcKFlp
Hfzh70l
TMdOqu
cj6qBO
apGLCF
o6lpTL7N
cH9Q4V
1vLAOCE
pTcnRBP
MSRcBokm
n29rJTzF
gJpME2Ha
j60lRu
W9Zdzl
XQfzTuQX
Ln3Znj6
X4mUYDcB
bZcqP3I
uvt3uBU
39jWu9xl
QrhHMa
77RLqwp
0DjvV9Y
qh2nKc
sUqFUBr
fWckhPu
Shm62EU2
Iqfn6gzK
NBtaKOhs
rEimT0nS
6PU8x6AO
vjMLCK
BAU8hX
HBwFzb
ibXGU7
vyp1kd
eAFeSM1Z
4xhA74O
bdTKKo
XBXomw
7VMR5aUl
5K6eziy
fN2bUb
6CSQ4xns
FSjtOwgd
rGjJfC7
GjzEqId
yeTNGS
8SbUY1yp
aXIKy0v
alhtiy8s
uxHQX4y
9LLEOA
dU8Jd4
KqVATlOL
zgExqRX2
h0clYW
yb2N9A
5puMTJ
gO5UTA0
EC8J4o
jAs2VhSe
1aZcxD
oXGN3V
DPJLWO
NcP3U8
zKq4fto
f8SX0o
5P0kKW
YdtBUmqK
kvM1xGn
oIpdxACB
CSLge5E

In [79]:
def prime(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 0
  return 1

for i in range(600,801):
  if(prime(i)):
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [80]:
for i in range(100,1001):
  if(i%7==0) and (i%9==0):
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
# Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find 
# (i) Common numbers in the two lists
# (ii) Unique numbers in both the list
# (iii) Minimum in both the list
# (iv) Maximum in both the list
# (v) Sum of both the lists

In [82]:
import random as r
l1=[]
l2=[]
for i in range(10):
  x=r.randint(10,30)
  l1.append(x)

for i in range(10):
  x=r.randint(10,30)
  l2.append(x)

print (l1)
print(l2)

[17, 25, 15, 15, 16, 11, 23, 23, 13, 26]
[23, 29, 11, 26, 15, 24, 13, 13, 30, 10]

In [86]:
def common(n,l2):
  for i in range(10):
    if  n in l2:
      return 1
  return 0
for i in range(10):
  if common(l1[i],l2):
    print(l1[i])

15
15
11
23
23
13
26

In [88]:
def uni(n,l1):
  x=0
  for i in range(10):
    if l1[i]==n:
      x=x+1
  if(x==1):
    return 1
  else:
    return 0

for i in range(10):
  if uni(l1[i],l1):
    print(l1[i])
print("\n")
    
for i in range(10):
  if uni(l2[i],l2):
    print(l2[i])

17
25
16
11
13
26


23
29
11
26
15
24
30
10

In [89]:
print(min(l1))
print(min(l2))

11
10

In [90]:
print(max(l1))
print(max(l2))

26
30

In [92]:
x=sum(l1)
y=sum(l2)
print("both sum",x+y)

both sum 378

In [ ]:
# Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
# (i) All odd numbers
# (ii) All even numbers
# (iii) All prime numbers

In [93]:
import random as r
l=[]
for i in range(100):
  x=r.randint(100,900)
  l.append(x)
print(l)

[438, 855, 245, 713, 861, 650, 101, 203, 305, 154, 482, 159, 119, 401, 480, 875, 190, 118, 851, 105, 723, 295, 119, 611, 154, 361, 101, 212, 106, 746, 680, 324, 312, 429, 284, 388, 830, 293, 546, 202, 294, 446, 885, 344, 388, 416, 143, 646, 325, 414, 512, 692, 501, 145, 665, 196, 632, 642, 633, 148, 802, 104, 584, 470, 467, 882, 468, 736, 736, 355, 156, 745, 563, 215, 603, 624, 506, 593, 344, 617, 629, 705, 671, 738, 467, 579, 248, 461, 639, 211, 223, 243, 279, 115, 432, 576, 594, 383, 797, 660]

In [95]:
def odd(n):
  if n%2==0:
    return 0
  return 1
e=0
o=0
se=0
so=0
for i in range(100):
  if(odd(l[i])):
    o=o+1
    so+=l[i]
  else:
    e=e+1
    se+=l[i]
print("total even no. is ",e," and sum is ",se)
print("total odd no. is ",o," and sum is ",so)

total even no. is  50  and sum is  22726
total odd no. is  50  and sum is  22582

In [96]:
def prime(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 0
  return 1

for i in l:
  if(prime(i)):
    print(i)

101
401
101
293
467
563
593
617
467
461
211
223
383
797

In [ ]:
# Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
#  WAP to read all the keys and values from dictionary and write to the file in the given below format.
# Key1, Value1
# Key2, Value2
# Key3, Value3

In [102]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
f=open("p1-7.txt","w")
for i in D:
  f.write(str(i))
  f.write(",")
  f.write(D[i])

In [ ]:
# Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
#  WAP to count the length of reach element from a list and write to the file in the given below format:
# One, 3
# Two, 3
# Four, 4

In [105]:
l=["One","Two","Three","Four","Five"]
f=open("p1-8.txt","w")
for i in l:
  f.write(i)
  f.write(",")
  f.write(str(len(i)))

In [ ]:
# Q9. Write to the file 100 random strings whose length between 10 and 15.

In [107]:
import random as r
import string as s
f=open("p1-9.txt","w")
def gen():
  l=s.ascii_letters+s.digits
  x=r.randint(10,15)
  n=""
  for i in range(x):
    n+="".join(r.choice(l))
  return n
for i in range(1,101):
  n=gen()
  f.write(n)
  f.write(" ")

In [ ]:
# Q10. Write to the file all prime numbers between 600 and 800.

In [109]:
def prime(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return 0
  return 1
f=open("p1-10.txt",'w')
for i in range(600,801):
  if(prime(i)):
    f.write(str(i))
    f.write(" ")

In [ ]:
# Q11. WAP to calculate the time taken by a program.

In [110]:
import time
begin = time.time()

for i in range(5):
    print(i)

 
time.sleep(1)
end = time.time()
t=b=end-begin
print("Total time",t)

0
1
2
3
4
Total time 1.0054757595062256

In [ ]:
# Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student 
#  having maximum and minimum average marks.

In [111]:
student_marks = {
    "A": [85, 90, 92, 88, 95],
    "B": [76, 85, 90, 82, 80],
    "C": [92, 88, 95, 90, 94],
    "D": [80, 82, 85, 88, 76],
    "E": [90, 92, 88, 95, 82]
}

average_marks = {student: sum(marks) / len(marks) for student, marks in student_marks.items()}


max_student = max(average_marks, key=average_marks.get)
min_student = min(average_marks, key=average_marks.get)

print("Student with maximum average marks:", max_student)
print("Student with minimum average marks:", min_student)

Student with maximum average marks: C
Student with minimum average marks: D